@import '../../variables.scss';


.section {
    margin: 2rem 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    padding: 2rem 0;
    background-color: rgb(15, 15, 15);
}


.container {
    width: 75%;
    text-align: center;
    color: white;
    @media only screen and (max-width: $screen-md) {
        width: 100%;
    }
    h1, h2, h3, h4, h5 {
        text-transform: uppercase;
        color: $color-logo-red;
    }
}