@import '../../variables.scss';

.jumbotron {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    color: white;
    &Content {
        position: absolute;
        padding: 0 5rem;
        top: 25%;
        right: 0;
        text-align: end;
        z-index: 5;

        .link {
            margin-top: 1rem;
            float: right;
            @media (max-width: $screen-sm) {
                float: none;
            }
        }

        @media only screen and (max-width: $screen-sm) {
            text-align: center;
            padding: 0 1rem;
            position: relative;
        }

        h1 {
            font-size: 7rem;
            margin: 0;
            @media only screen and (max-width: $screen-md) {
                font-size: 6rem;
            }
            @media only screen and (max-width: $screen-xxxs) {
                font-size: 4rem;
            }
        }
        h2 {
            &.locationText {
                font-size: 2.5rem;
            }
            &.subsubTitle{
                margin-top: 1rem;
                font-size: 2rem;
            }
            margin: 0;
            font-size: 3rem;
            @media only screen and (max-width: $screen-xxxs) {
                font-size: 2.5rem;
            }
            @media only screen and (max-width: $screen-xxxs) {
                font-size: 2rem;
            }
        }
    }
    video, img {
        position: fixed;
        top: 50%;
        left: 50%;
        min-width: 100%;
        min-height: 100%;
        width: auto;
        height: auto;
        z-index: -100;
        transform: translateX(-50%) translateY(-50%);
        background-size: cover; 
        filter: brightness(25%);
        object-fit: cover;
    }
}