@import '../../variables.scss';

.colorPink{
    color: $color-logo-pink
}
.colorBlue{
    color: $color-logo-blue
}
.colorGreen{
    color: $color-logo-green
}

.inlineLink {
    text-decoration: none;
    padding: 0.1rem 0.3rem;
    border-radius: 3px;
    border: 1px solid transparent;
    &:hover {
        color: white;
        border: 1px solid $color-logo-red;
        background: $color-logo-red-dark;
    }
}