
$primary-font: 'BigJohn', sans-serif;
$secondary-font: 'SlimJoe', sans-serif;

$primary-color: #f7ae1a;

$color-logo-orange: #F58646; 
$color-logo-orange-dark: #FCAF1A;
$color-logo-red: #F05350;
$color-logo-red-dark: #A11C38;

$screen-xxxs: 420px;
$screen-xxs: 600px;
$screen-xs: 720px;
$screen-sm: 768px;
$screen-md: 992px;
$screen-lg: 1200px;

$color-logo-pink: #dd4c9b;
$color-logo-pink-dark: #b33f7e;
$color-logo-blue: #2cadd7;
$color-logo-blue-dark: #1f7d9c;
$color-logo-green: #bfd730;
$color-logo-green-dark: #8ea024;