@import '../../variables.scss';

.link {
    width: fit-content;
    font-size: 1.4rem;
    padding: 0.6rem 1.5rem;
    font-weight: bold;
    box-sizing: border-box;
    border-radius: 3px;
    border: 2px solid $color-logo-red;
    background: none;
    text-align: center;
    cursor: pointer;
    a {
        color: $color-logo-red;
        text-decoration: none;
    }
    &:hover {
        background: $color-logo-red-dark;
        a {
            color: white;
        }
    }
}